body {
    font-family: 'Inconsolata', sans-serif;
    line-height: 1.6;
    background-color: black;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}
.titulo {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 60px;
    width: 100%;
    font-size: 25px;
}
.titulo-pagina {
    font-family: 'Inconsolata', sans-serif;
    text-align: center;
    color: #6B2737;
    width: 100%; /*Definir a largura do elemento para ocupar a largura do contêiner*/
}
